$Moderate-blue: hsl(238, 40%, 52%);
$Soft-Red: hsl(358, 79%, 66%);
$Light-grayish-blue: hsl(239, 57%, 85%);
$Pale-red: hsl(357, 100%, 86%);
$Dark-blue: hsl(212, 24%, 26%);
$Grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$Very-light-gray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    background-color: $Very-light-gray;
}

main {
    // border: 1px solid;
    width: 700px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .comment--section {
        padding: 20px;
        // border: 1px solid;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border-radius: 10px;
        background-color: $White;
        .score, .comment--container {
            display: flex;
            flex-direction: column;
            // border: 1px solid;;
        }
        .score {
            padding: 10px 7px;
            align-items: center;
            align-self: flex-start;
            border-radius: 5px;
            justify-content: center;
            background-color: $Very-light-gray;
            border: none;
            gap: 15px;
            // padding-bottom: 15px;
            p{
                color: $Moderate-blue;
                font-weight: bold;
                width: 18px;
                text-align: center;
            }
            svg {
                fill: $Light-grayish-blue;
            }
            svg:hover {
                fill: $Moderate-blue;
                cursor: pointer;
            }
        }
        .comment--container {
            gap: 15px;
            width: 100%;
           .comment, .timestamp {
            color: $Grayish-Blue;
           }
           button {
            align-self: flex-end;
            padding: 10px 30px;
            color: white;
            border: none;
            border-radius: 7px;
           }
        }
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            .profile--pic {
                width: 35px;
                height: 35px;
            }
            .name {
                font-weight: bold;
                color: $Dark-blue;
            }
            .name, .timestamp, .who{
                margin-left: 10px;
            }
            .who {
                padding: 2px 5px;
                background-color: $Moderate-blue;
                color: $White;
                border-radius: 4px;
                font-size: 0.8rem;
            }
            .controls {
                margin-left: auto;
                display: flex;
                .reply, .edit {
                    p {
                        color: $Moderate-blue;
                    }
                    svg {
                        fill: $Moderate-blue;
                    }
                    &:hover {
                        p {
                            color: $Light-grayish-blue;
                        }
                        svg {
                            fill: $Light-grayish-blue;
                        }
                    }
                }

                .delete {
                    p {
                        color: $Soft-Red;
                    }
                    svg {
                        fill: $Soft-Red;
                    }
                    &:hover {
                        p {
                            color: $Pale-red;
                        }
                        svg {
                            fill: $Pale-red;
                        }
                    }
                }
                div {
                    margin-left: 10px;
                }
                * {
                    display: inline-block;
                    font-weight: bold;
                }
            }
        }
        .comment--content {
            width: 100%;
            .comment, textarea {
                line-height: 1.5rem;
            }
            textarea {
                width: 100%;
                height: 120px;
                padding: 15px;
                font-size: 1rem;
                font-family: 'Rubik', sans-serif;
                border-radius: 7px;
                border: 1px solid $Light-gray;
                outline: none;
                color: $Grayish-Blue;
                resize:none;
                &:focus{
                    border-color: $Moderate-blue;
                }
            }
        }
    }
    .comment--reply, .comment--add {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        border-radius: 10px;
        background-color: $White;
        img {
            width: 40px;
            height: 40px;
        }
        textarea {
            width: 100%;
            height: 100px;
            padding: 15px;
            font-size: 1rem;
            font-family: 'Rubik', sans-serif;
            border-radius: 7px;
            border: 1px solid $Light-gray;
            outline: none;
            color: $Grayish-Blue;
            resize:none;
            &:focus{
                border-color: $Moderate-blue;
            }
        }
        button {
            padding: 10px 30px;
            border-radius: 7px;
            border: none;
            color: $White;
        }
    }
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }

}

.main {
    width:100%;
}
.sub {
    align-self: flex-end;
    width:90%;
}


.button--reply, .button--update, .send {
    background-color: $Moderate-blue;
}
.button--reply:hover, .edit:hover, .delete:hover, .button--update:hover, .send:hover, .reply:hover {
    cursor: pointer;
}
.button--reply:hover, .button--update:hover, .send:hover {
    background-color: $Light-grayish-blue;
}
.delete--container {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $Grayish-Blue;
        opacity: 0.7;
        z-index: 1;
    }
    .delete--popup {
        border-radius: 10px;
        width: 350px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        background-color: $White;
        z-index: 2;
        h1 {
            font-weight: 500;
            font-size: 1.5rem;
            color: $Dark-blue;
        }
        p {
            color: $Grayish-Blue;
        }
        .controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .delete {
                background-color: $Soft-Red;
                color: $White;
                &:hover {
                    background-color: $Pale-red;
                }
            }
            .cancel {
                background-color: $Dark-blue;
                color: $White;
                &:hover {
                    background-color: $Grayish-Blue;
                }
            }
        }
        button {
            border: none;
            border-radius: 5px;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            padding: 10px 30px;
        }
    }
}