* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  border: 1px solid;
  font-family: "Rubik", sans-serif;
  background-color: hsl(228deg, 33%, 97%);
}

main {
  width: 700px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .comment--section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
}
main .comment--section .score, main .comment--section .comment--container {
  display: flex;
  flex-direction: column;
}
main .comment--section .score {
  padding: 10px 7px;
  align-self: flex-start;
  border-radius: 5px;
  justify-content: center;
  background-color: hsl(228deg, 33%, 97%);
  border: none;
  gap: 15px;
}
main .comment--section .score p {
  color: hsl(238deg, 40%, 52%);
  font-weight: bold;
  width: 18px;
  text-align: center;
}
main .comment--section .score .plus {
  height: 10px;
  width: 10px;
}
main .comment--section .score .minus {
  height: 2px;
  width: 10px;
}
main .comment--section .score .minus, main .comment--section .score .plus {
  margin: auto;
}
main .comment--section .comment--container {
  gap: 15px;
  width: 100%;
}
main .comment--section .comment--container .comment, main .comment--section .comment--container .timestamp {
  color: hsl(211deg, 10%, 45%);
}
main .comment--section .comment--container .button--update {
  align-self: flex-end;
  padding: 10px 30px;
  background-color: hsl(238deg, 40%, 52%);
  color: white;
  border: none;
  border-radius: 7px;
}
main .comment--section .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .comment--section .header .profile--pic {
  width: 35px;
  height: 35px;
}
main .comment--section .header .name {
  font-weight: bold;
  color: hsl(212deg, 24%, 26%);
}
main .comment--section .header .name, main .comment--section .header .timestamp, main .comment--section .header .who {
  margin-left: 10px;
}
main .comment--section .header .who {
  padding: 2px 5px;
  background-color: hsl(238deg, 40%, 52%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 4px;
  font-size: 0.8rem;
}
main .comment--section .header .controls {
  margin-left: auto;
  display: flex;
}
main .comment--section .header .controls .reply p, main .comment--section .header .controls .edit p {
  color: hsl(238deg, 40%, 52%);
}
main .comment--section .header .controls .delete p {
  color: hsl(358deg, 79%, 66%);
}
main .comment--section .header .controls div {
  margin-left: 10px;
}
main .comment--section .header .controls * {
  display: inline-block;
  font-weight: bold;
}
main .comment--section .comment--content {
  width: 100%;
}
main .comment--section .comment--content .comment, main .comment--section .comment--content textarea {
  line-height: 1.5rem;
}
main .comment--section .comment--content textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-radius: 7px;
  border: 1px solid hsl(223deg, 19%, 93%);
  outline: none;
  color: hsl(211deg, 10%, 45%);
  resize: none;
}
main .comment--section .comment--content textarea:focus {
  border-color: hsl(238deg, 40%, 52%);
}
main .comment--reply, main .comment--add {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
}
main .comment--reply img, main .comment--add img {
  width: 40px;
  height: 40px;
}
main .comment--reply textarea, main .comment--add textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-radius: 7px;
  border: 1px solid hsl(223deg, 19%, 93%);
  outline: none;
  color: hsl(211deg, 10%, 45%);
  resize: none;
}
main .comment--reply textarea:focus, main .comment--add textarea:focus {
  border-color: hsl(238deg, 40%, 52%);
}
main .comment--reply button, main .comment--add button {
  padding: 10px 30px;
  border-radius: 7px;
  background-color: hsl(238deg, 40%, 52%);
  border: none;
  color: hsl(0deg, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.main {
  width: 100%;
}

.sub {
  align-self: flex-end;
  width: 90%;
}/*# sourceMappingURL=styles.css.map */