$Moderate-blue: hsl(238, 40%, 52%);
$Soft-Red: hsl(358, 79%, 66%);
$Light-grayish-blue: hsl(239, 57%, 85%);
$Pale-red: hsl(357, 100%, 86%);
$Dark-blue: hsl(212, 24%, 26%);
$Grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$Very-light-gray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    border: 1px solid;
    font-family: 'Rubik', sans-serif;
    background-color: $Very-light-gray;
}

main {
    // border: 1px solid;
    width: 700px;
    min-height: 500px;
    .comment--section {
        padding: 20px;
        // border: 1px solid;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border-radius: 10px;
        background-color: $White;
        .score, .comment--container {
            display: flex;
            flex-direction: column;
            // border: 1px solid;;
        }
        .score {
            padding: 10px 7px;
            align-self: flex-start;
            border-radius: 5px;
            justify-content: center;
            background-color: $Very-light-gray;
            border: none;
            gap: 15px;
            p{
                color: $Moderate-blue;
                font-weight: bold;
            }
        }
        .comment--container {
            gap: 15px;
           .comment, .timestamp {
            color: $Grayish-Blue;
           }
        }
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            .profile--pic {
                width: 35px;
                height: 35px;
            }
            .name {
                font-weight: bold;
                color: $Dark-blue;
            }
            .name, .timestamp{
                margin-left: 10px;
            }
            .controls {
                margin-left: auto;
                display: flex;
                p {
                    font-weight: bold;
                    color: $Moderate-blue;
                }
                * {
                    display: inline-block;
                }
            }
        }
        .comment--content {
            .comment {
                line-height: 1.5rem;
            }
        }
    }
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }

}

